In [1]:
#SQLite 이용방법
import sqlite3 # built-in library (Python 2.x & 3.x)

print(sqlite3.sqlite_version) # sqlite(dbms) version
print(sqlite3.version) # pysqlite version -- for using by python

3.27.2
2.6.0

In [7]:
import pandas as pd
import sqlite3 # built-in library (Python 2.x & 3.x)

dbpath = "maindb_test.db" # or "maindb_2.sqlite"
conn = sqlite3.connect(dbpath)
cur = conn.cursor() 

script = """
DROP TABLE IF EXISTS ANIMAL_INS;
CREATE TABLE ANIMAL_INS ( 
    ANIMAL_ID TEXT PRIMARY KEY,
    ANIMAL_TYPE TEXT NOT NULL, -- DEFAULT 0 값이 입력되지 않을 시 디폴트로 0을 저장합니다.(if no default -- NULL)
    DATETIME TEXT NOT NULL, --NOT NULL ; vaules required 
    INTAKE_CONDITION TEXT NOT NULL,
    NAME TEXT, -- NOT NULL UNIQUE 중복된 값이 입력될 경우 에러를 일으킵니다.
    SEX_UPON_INTAKE TEXT NOT NULL  -- UNIQUE CHECK (Length(phone) >= 10) 길이가 10 이상이 아닐 경우 에러를 일으킵니다.
);
""" 
cur.executescript(script) # 여러개의 SQL 명령어를 한 장의 "Script"처럼 한번에 실행합니다.
#cur.execute(script)

In [8]:
script = """
SELECT * FROM ANIMAL_INS;
""" 

df = pd.read_sql_query(script, conn)
df

Empty DataFrame
Columns: [ANIMAL_ID, ANIMAL_TYPE, DATETIME, INTAKE_CONDITION, NAME, SEX_UPON_INTAKE]
Index: []

## 문제풀이

In [ ]:
#1.최댓값 구하기
#가장 최근에 들어온 동물 조회 SQL

SELECT max(DATETIME) as '시간' 
FROM ANIMAL_INS

In [ ]:
#2.모든 레코드 조회

SELECT *
FROM ANIMAL_INS
ORDER BY 
    ANIMAL_ID

In [ ]:
#3.역순 정렬하기
SELECT NAME, DATETIME
FROM animal_ins
ORDER BY animal_id DESC

In [ ]:
#4. 아픈 동물 찾기
SELECT animal_id, name
FROM animal_ins
WHERE intake_condition = 'Sick'
ORDER BY animal_id

In [ ]:
#5. 젊은 동물 찾기
SELECT ANIMAL_ID,NAME
FROM animal_ins
WHERE intake_condition != 'Aged'
-- WHERE intake_condition NOT LIKE 'Aged'
-- WHERE intake_condition NOT IN('Aged')
ORDER BY animal_id

In [ ]:
#6. 동물의 아이디와 이름
SELECT ANIMAL_ID,NAME
FROM animal_ins
ORDER BY animal_id

In [ ]:
#7. 여러 기준으로 정렬하기
SELECT ANIMAL_ID,NAME,DATETIME
FROM animal_ins
ORDER BY name, datetime desc

In [ ]:
#8. 상위 n개 레코드
## 틀림 : HAVING min(datetime)

SELECT NAME
FROM animal_ins
ORDER BY datetime
LIMIT 1

## 기타 코드 테스트

In [ ]:
#강아지만 조회
SELECT *
FROM
    ANIMAL_INS
WHERE 
    ANIMAL_TYPE = 'Cat';

In [ ]:
#where절에 조건주기
SELECT *
FROM ANIMAL_INS
WHERE (ANIMAL_TYPE = 'Cat') and (animal_id LIKE 'A35%')

#distinct 조건
SELECT distinct SEX_UPON_intake, animal_id, animal_type
FROM ANIMAL_INS
WHERE (ANIMAL_TYPE = 'Cat') and (animal_id LIKE 'A35%')

#count
SELECT ANIMAL_ID,NAME,count(animal_id) as counted
FROM animal_ins
WHERE intake_condition != 'Aged'
-- WHERE intake_condition NOT LIKE 'Aged'
-- WHERE intake_condition NOT IN('Aged')
ORDER BY animal_id

#limit 10 offset 3 : 먼저 offset으로 3개 때어낸뒤, limit로 10개 가져옴(순서 유의!)
SELECT NAME, datetime
FROM animal_ins
ORDER BY datetime
LIMIT 10 OFFSET 3

### 참고코드

In [ ]:
script = """
SELECT
    albumid,
    COUNT(trackid)
FROM
    tracks
GROUP BY
    albumid
HAVING 
    COUNT(trackid) Between 18 and 20;    -- 앨범에 속한 곡(track)의 수가 18 이상 20 이하(between A and B)인 앨범들
""" 


#WHERE COUNT(trackid) BETWEEN 18 AND 20    -- (에러발생) WHERE는 HAVING과 비슷해보이나 이처럼 집계함수의 적용이 불가능합니다.